
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1493346947574'); /* IE9*/
  src: url('iconfont.eot?t=1493346947574#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1493346947574') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1493346947574') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1493346947574#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingwei:before { content: "\e61d";font-size: 0.48rem ;}

.icon-wode:before { content: "\e611"; font-size: 0.65rem;}

.icon-sun:before { content: "\e68f";font-size: 0.5rem  }

.icon-faxian:before { content: "\e607"; font-size: 0.5rem;}

.icon-dingdan:before { content: "\e613"; font-size: 0.5rem;}

.icon-waimai:before { content: "\e600"; font-size: 0.5rem;}

